/*@mixin clearfix {
  &:before,
  &:after {
    content: '';
    display: table;
  }
  &:after {
    clear: both;
  }
}*/

@mixin box-sizing($type:border-box) {
    -webkit-box-sizing: $type; // Android < 2.3, iOS < 4
    -moz-box-sizing: $type; // Firefox < 29
    box-sizing: $type; // Chrome, IE 8+, Opera, Safari 5.1
}

@mixin boxShadow( $shadow... ) {
    -webkit-box-shadow: $shadow;
    -moz-box-shadow: $shadow;
    -o-box-shadow: $shadow;
    box-shadow: $shadow;
}

@mixin borderRaduis( $radius... ) {
    -webkit-border-radius: $radius;
    -moz-border-radius: $radius;
    -o-border-radius: $radius;
    border-radius: $radius;
}


@mixin gradient($baseColor, $toColor){
    background-color:$baseColor;
    background-image: -moz-linear-gradient(to right, $baseColor, $toColor); /* FF3.6 */
    background-image: -webkit-linear-gradient(to right, color-stop(0, $baseColor),color-stop(1, $toColor));  /* Saf4+, Chrome */
    background-image: linear-gradient(to right,$baseColor, $toColor);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='$baseColor', EndColorStr='$toColor');   /* IE6â��IE9 */
}


@mixin TranSition( $TranSition... ) {
    -webkit-transition: $TranSition;
    -moz-transition: $TranSition;
    -o-transition: $TranSition;
    transition: $TranSition;
}

@mixin TransScale( $TransScale ) {

    -webkit--transform: $TransScale;
    -moz--transform: $TransScale;
    -o--transform: $TransScale;
    -ms--transform: $TransScale;
    transform:$TransScale;

}
