@import "partials/base";
@import "partials/variables";
@import "partials/mixins";

#wrapper {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  background-color: $color3;
  padding: 0 0.25em;
  font-family: $font-style1;
  min-height: 1220px;

  /*header*/
  header {
    width: 100%;
    height: 70px;
    background-color: #f9f9f9;
    margin-bottom: 0.5em;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-flow: row wrap;
    -ms-flex-flow: row wrap;
    flex-flow: row wrap;
    -webkit-justify-content: space-between;
    -ms-flex-pack: space-between;
    justify-content: space-between;

    /*Logo*/
    figure#logo {
      height: auto;
      width: 60%;
      margin: 0px;
      text-indent: -9999px;
      -webkit-flex: 0 0 auto;
      -ms-flex: 0 0 auto;
      flex: 0 0 auto;

      img {
        display: block;
        margin: 0;
        padding: 0;
        height: auto;
      }
    }

    aside.contact {
      -webkit-flex: 0 0 auto;
      -ms-flex: 0 0 auto;
      flex: 0 0 auto;
      width: 27%;
      height: auto;
      margin: 1% 0 0 0;
      display: block;
      line-height: 25px;
      font-size: 0.65em;
      span.tele {
        margin: 0;
        padding: 0;
        width: 100%;
        display: block;
        display: flex;
        text-align: left;
        background-color: $colorbg;

        img {
          -webkit-flex: 0 0 auto;
          -ms-flex: 0 0 auto;
          flex: 0 0 auto;
          width: auto;
          display: block;
          margin: 0.2em;
        }

        a#contact-number {
          width: 87%;
          padding: 0;
          display: inline-block;
          line-height: 27px;

          font-weight: bold;
          font-size: 1em;
          text-align: center;
          text-shadow: 1px 1px 1px #000;
          text-decoration: none;
          color: $color3;
          &:active {
            color: #fff;
          }
          &:link {
            color: #fff;
            background-color: unset;
          }
        }
      }
      span#opening-time {
        display: block;
        line-height: 27px;
        color: $colorblk;
        font-size: 80%;
        text-transform: uppercase;
        text-align: center;
        text-indent: 0;
        color: $colorgry;
        clear: both;
        text-align: center;
        text-indent: unset;
      }
    }
  }
  /*navigation*/
  nav {
    width: 100%;
    height: 40px;
    margin-bottom: 0px;
    opacity: 1;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-align-content: flex-end;
    -ms-flex-content: flex-end;
    align-content: flex-end;
    -webkit-justify-content: flex-end;
    -ms-flex-pack: flex-end;
    justify-content: flex-end;
    border-bottom: 1px solid $colorgry2;

    ul#navi {
      @include TranSition(all 1s ease);
      position: fixed;
      z-index: 100;
      opacity: 0;
      width: 100%;
      height: auto;
      float: none;
      padding: 0.5em;
      top: 0;
      background-color: $colorbg;
      -webkit-flex-flow: column;
      -ms-flex-flow: column;
      flex-flow: column;
      justify-content: flex-start;
      li {
        width: 100%;
        height: auto;
        float: none;
        display: block;
        margin-bottom: 0.2em;
        a {
          font-size: 1em;
          height: 50px;
          line-height: 50px;
          &:hover {
            box-shadow: none;
          }
        }
      }

      li:nth-of-type(2) {
        margin-bottom: 0.2em;
        a {
          font-size: 1em;
          line-height: 50px;
          height: auto;
          &:hover {
            height: 50px;
            line-height: 50px;
            box-shadow: none;
          }
        }
      }
    }    

    aside#language-box {
      width: 40%;

      form#languagebox {
        height: 40px;
        display: flex;
        label {
          width: 35%;
          font-size: 0.75em;
          display: block;
          line-height: 35px;
          height: 35px;
          border-left: solid 1px #e4e2e2;
          border-top: solid 1px #e4e2e2;
          border-bottom: solid 1px #e4e2e2;
          border-right: none;
          display: -webkit-flex;
          display: -ms-flexbox;
          display: flex;
          text-indent: 0.2em;
        }

        div#flagImg {
          width: 25%;
          margin: 0;
          height: 35px;
          padding: 0.25em;
        }

        select {
          height: 35px;
          line-height: 35px;
          font-size: 0.85em;
          width: 40%;
          border-right: solid 1px #e4e2e2;
          border-top: solid 1px #e4e2e2;
          border-bottom: solid 1px #e4e2e2;
          border-left: none;
          background-repeat: no-repeat;
          background-position: 5% 50%;
          option {
            font-size: 1em;
          }
        }
      }
    }
  }

  .fade-enter-active,
  .fade-leave-active {
    @include TranSition(all 1s ease);
  }
  .fade-enter {
    @include TranSition(all 5s ease-in-out);

    left: 10px;
  }
  .fade-leave-to,
  .fade-leave {
    @include TranSition(all 1s ease);
    left: -650px;
    opacity: 0;
  }

  .hide {
    left: -100%;
    @include TranSition(all 1s ease);
  }
  .show {
    left: 0;
    opacity: 1;
    @include TranSition(all 1s ease);
  }

  #toggle-menu {
    display: block;
    height: 100px;
    width: 60px;
    position: fixed;
    z-index: 500;
    left: 91vw;
    top: 135px;
    background-color: $colorbg;
    border: 0;
    outline: none;
    color: #fff;
    font-size: 0.9em;
    text-align: center;
    line-height: 40px;
    &:hover {
      cursor: pointer;
      background-color: $color2;
      color: #fff;
    }
  }

  #side-bar-btn {
    position: fixed;
    display: block;
    background-color: $colorbg;
    color: #fff;
    z-index: 100;
    height: 100px;
    width: 60px;
    left: 91vw;
    top: 240px;
    border: none;
    outline: none;
    &:hover {
      cursor: pointer;
      background-color: #fff;
      color: $colorbg;
    }
  }
  #contact-bar-btn {
    position: fixed;
    display: block;
    background-color: $colorbg;
    color: #fff;
    z-index: 100;
    height: 100px;
    left: 91vw;
    top: 240px;
    border: none;
    outline: none;
    &:hover {
      cursor: pointer;
      background-color: #fff;
      color: $colorbg;
    }
  }
  
  /*#home page sidebar*/
  #home-page-sidebar {
    width: 30%;
    height: auto;
    float: left;
    padding-top: 1%;
    .leftsidebox {
      width: 96%;
      height: auto;
      margin-bottom: 1%;
      padding: 0;
      border: solid 3px $sideboxborder;
      @include borderRaduis(5px);
      a {
        text-decoration: none;
        margin-left: 10px;
        display: block;
        height: 30px;
        line-height: 30px;
        color: $heading;
        &:hover {
          text-decoration: none;
          height: 30px;
          line-height: 30px;
        }
      }
      h2 {
        font-size: 1.15em;
        @include borderRaduis(2px 2px 0px 0px);
        text-align: left;
        margin: 0px;
        color: $sideboxcolor1;
        padding: 0;
        height: 40px;
        line-height: 40px;
        background-color: $sideboxborder;
        text-indent: 2%;

        width: 100%;
      }
      #search_form {
        width: 100%;
        margin-top: 5px;
        padding: 2%;
        label {
          width: 96%;
          color: $colorblk;
          height: 30px;
          line-height: 30px;
          padding: 0;
          float: left;
          margin: 0;
          font-size: 0.9em;
          font-weight: bold;
        }
        ul {
          margin: 0;
          padding: 0;
          width: 100%;
          margin: auto;
          li {
            list-style: none;
            margin: 0px;
            height: auto;
            width: 96%;
            select.destination1 {
              width: 100%;
              height: 35px;
              line-height: 35px;
              border: 1px solid #d2caca;
            }
            select.time_1 {
              width: 27%;
              height: 35px;
              display: block;
              float: left;
              margin: 1% 1% 1% 0;
              border: 1px solid #d2caca;
            }
            select#time_2 {
              width: 43%;
              height: 35px;
              display: inline-block;
              float: none;
              margin: 1% 0;
              border: 1px solid #d2caca;
            }
          }
          li.misc_inner {
            width: 48%;
            display: inline-block;
            select.misc {
              width: 98%;
              height: 35px;
              display: block;
              border: 1px solid #d2caca;
            }
            label {
              width: 96%;
              height: 30px;
              line-height: 30px;
              font-size: 0.8em;
              margin: 0;
              padding: 0;
            }
          }
        }
        #searchbtn {
          @include gradient($colorsearchbtn, $colorsearchbtnroll);
          @include TranSition(all 0.2s linear ease-in-out);
          clear: left;
          @include borderRaduis(5px);
          margin: 5% auto;
          width: 50%;
          color: $colorpw;
          height: 35px;
          line-height: 35px;
          border: 1px solid #f47f11;
          display: block;
          &:hover {
            color: $colorpw;
            border: 0;
            @include gradient($colorsearchbtnroll, $colorsearchbtn);
            font-weight: bold;
          }
        }
      }

      div.destinations {
        width: 91%;
        height: auto;
        background-color: #ebebe8;
        margin: 5px auto;
        padding: 2.5%;
        display: block;
        figure {
          margin: 0;
          width: 100%;
          img {
            width: 32%;
            float: left;
            display: block;
            margin-right: 3%;
          }
          figcaption {
            width: 50%;
            display: inline-block;
            h3 {
              color: $heading;
              font-size: 0.95em;
              font-weight: bold;
              width: 100%;
              height: 30px;
              margin: 0;
              padding: 0;
              line-height: 30px;
            }
            p {
              font-size: 0.75em;
              width: 100%;
              float: none;
              height: auto;
              margin: 0px;
              padding: 0px;
              display: inline-block;
              color: #bcbdbc;
              line-height: 20px;
            }
          }
        }
      }
    }
  }

  /*#best deal/holiday packages page sidebar*/
  #filter-nav-sidebar {
    width: 20%;
    height: auto;
    float: left;
    margin-top: 1%;
    background-color: $sideboxbordercolvar;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-flow: column;
    -ms-flex-flow: column;
    flex-flow: column;
    -webkit-align-content: flex-start;
    -ms-flex-content: flex-start;
    align-content: flex-start;
    -webkit-align-content: flex-start;
    -ms-flex-content: flex-start;
    align-content: flex-start;

    section#seasons,
    section#locations,
    section#prices,
    section#ratings {
      width: 100%;
      h1 {
        width: 100%;
        text-indent: 1em;
        color: $colorbgvar;
        display: block;
        font-size: 0.95em;
        line-height: 30px;
        margin: 0 auto;
      }
      ul {
        -webkit-flex: 0 0 auto;
        -ms-flex: 0 0 auto;
        flex: 0 0 auto;
        height: auto;
        width: 90%;
        padding: 1%;
        margin: 0 auto;
        li {
          display: block;
          width: 96%;
          height: 25px;
          margin: 0 0 2% 0;
          button {
            display: block;
            height: 100%;
            font-size: 0.85em;
            text-transform: capitalize;
            @include TranSition(all 0.2s linear ease-in-out);
            width: 100%;
            @include gradient($colorpw2, $sideboxbordercolvar);
            line-height: 25px;
            color: $colorpw1a;
            letter-spacing: 0.02em;
            border: none;
            &:before {
              content: "<";
            }
            &:hover {
              cursor: pointer;
              font-weight: bold;
              @include gradient($sideboxbordercolvar, $colorpw2);
            }
          }
        }
      }
    }
  }

  /*#about page sidebar*/
  #about-page-banner {
    width: 20%;
    height: auto;
    float: left;
    margin: 1% 1% 0 0;
    background-color: #014188;

    figure {
      margin: 0;
      padding: 0;
      figcaption {
        display: block;
        margin: 0;
        padding: 5%;
        h1 {
          text-indent: 0;
          width: 100%;
          color: $colorpw;
          display: block;
          font-size: 1.28em;
          margin-top: 25%;
          text-transform: uppercase;
          line-height: 1.5em;
          letter-spacing: 0.02em;
        }

        span {
          margin-bottom: 1em;
          display: block;
          img {
            display: block;
            border: none;
          }
        }

        p {
          color: $colorpw;
          font-size: 0.9em;
          line-height: 1.5em;
          margin: 0 0 5% 0;
        }
      }
    }
  }
  /*#contact page details sidebar*/
  #contact-page-sidebar {
    width: 20%;
    height: auto;
    float: left;
    margin: 1% 1% 0 0;
    #contact-details {
      background-color: #ffffff;
      display: block;
      width: 98%;
      height: auto;
      border: 4px $sideboxbg1 solid;
      margin: 0;
      padding: 10% 0;
      list-style: none;
      font-size: 0.8em;
      @include borderRaduis(5px);
      li {
        width: 97%;
        line-height: 20px;
        height: 80px;
        color: $colorgry;
        padding-right: 0.5em;

        &:first-line {
          color: $sideboxcolor1a;
          font-weight: bold;
        }
        span {
          float: left;
          width: 15%;
          display: block;
          background-color: $colorpw;
          height: 5rem;
          img {
            width: 41%;
            height: auto;
            display: block;
            margin: 11% auto;
          }
        }
        a {
          display: block;
          line-height: 20px;
          font-size: 1em;
          background-color: unset;
          color: $colorgry;
        }
      }
    }
  }

  #home-page-content {
    width: 70%;
    height: auto;
    float: left;
    margin: 1% 0;
    min-height: 740px;
    h1 {
      color: $sideboxcolor1;
      font-weight: bold;
    }

    /*banner*/
    #banner {
      width: 98%;
      height: auto;
      margin: 0 auto;
      display: block;
      img {
        width: 100%;
      }
    }

    /*home page offers*/
    #offers {
      width: 100%;
      height: auto;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-flex-flow: row wrap;
      -ms-flex-flow: row wrap;
      flex-flow: row wrap;
      -webkit-align-content: flex-start;
      -ms-flex-content: flex-start;
      align-content: flex-start;
      -webkit-justify-content: flex-start;
      -ms-flex-pack: flex-start;
      justify-content: flex-start;
      h2 {
        font-size: 1.2em;
        color: $sideboxcolor1;
        margin: 0;
        height: 60px;
        line-height: 65px;
        text-indent: 20px;
        letter-spacing: 0.05em;
        -webkit-align-self: center;
        -ms-flex-item-align: center;
        align-self: center;
        width: 100%;
      }
      div.offerbox {
        padding: 0;
        margin: 0.25em;
        border: 4px $sideboxborder solid;
        height: auto;
        -webkit-flex: 1 0 auto;
        -ms-flex: 1 0 auto;
        flex: 1 0 auto;
        width: 31%;
        @include borderRaduis(5px);
        figure {
          display: block;
          width: 100%;
          margin: 2% 0;
          img {
            width: 90%;
            margin: 0 auto;
            display: block;
          }
          figcaption {
            padding: 0.5em 0;
            display: block;
            p {
              font-size: 0.8em;
              text-align: center;
              margin: 0;
              height: 25px;
              line-height: 25px;
            }
            p:nth-of-type(2) {
              color: $heading;
              font-weight: bold;
              span {
                color: $colorbtn1;
              }
            }
          }
        }
      }
      /*offerboxend*/
    }
  }

  label.error {
    font-size: 1em;
    position: absolute;
    background-color: $colorbtn;
    left: 1000px;
    z-index: 2;
    border: 1px solid black;
    padding: 1%;
    text-align: 1.5em;
  }
  .BestDealsItem,
  .HolidayPackagesItem {
    /*Holiday details packages page*/
    h1 {
      text-align: center;
      line-height: 40px;
      font-size: 1.3em;
    }
    .holiday_item_details {
      border: 2px $sideboxbordercolvar solid;
      margin: 0.5em auto;
      padding: 0.5em;
      @include borderRaduis(5px);
      width: 50%;
      display: flex;
      flex-flow: column;
      h1 {
        margin: 0;
        width: 100%;
        line-height: 40px;
        font-size: 1.1em;
        color: $colorpw1a;
        align-self: flex-start;
        text-align: center;
      }
      span.holidayprice {
        font-size: 0.9em;
        width: 100%;
        color: $colorgry2;
        line-height: 40px;
        text-align: center;

        .offerbox-price {
          display: inline-block;
          color: $colorbtn4;
          font-weight: bold;
        }
      }
      figure {
        width: 100%;
        margin: 0;
        img {
          width: 75%;
          display: block;
          margin: 0.5em auto;
        }
        figcaption {
          width: 100%;
          display: inline-block;
          margin-bottom: 0.5em;
          h3 {
            margin: 0;
            width: 100%;
            line-height: 40px;
            font-size: 1em;
            color: $colorpw1a;
            text-align: center;
          }

          p {
            font-size: 0.9em;
            margin: 0;
            line-height: 35px;
            color: #9e9e9e;
            text-transform: capitalize;
          }
          button {
            width: 80%;
            @include borderRaduis(5px);
            text-align: center;
            color: #fff;
            height: auto;
            font-size: 1em;
            text-decoration: none;
            padding: 0;
            margin: 0 auto;
            line-height: 45px;
            border: 1px solid #f47f11;
            @include gradient($colorbtn2, $colorbtn3);
            display: block;
            &:hover {
              color: $colorpw;
              text-align: center;
              font-weight: bold;
              @include gradient($colorbtn3, $colorbtn2);
              cursor: pointer;
            }
          }
        }
      }
    }
  }

  #content2,
  #holiday-items {
    width: 79%;
    height: auto;
    float: left;
    margin-bottom: 10px;
    background-color: $colorpw;
    padding: 0.25em;

    h1 {
      font-size: 1.3em;
      color: $sideboxcolor1;
      width: 100%;
      margin: 0;
      font-weight: bold;
      padding: 0;
      height: 40px;
      line-height: 40px;
      display: block;
    }
    h2 {
      font-size: 1.2em;
      color: $sideboxcolor1;
      margin: 0;
      width: 100%;
      font-weight: normal;
      padding: 0;
      height: 40px;
      line-height: 40px;
      display: block;
    }
    h3 {
      font-size: 1em;
      color: $sideboxcolor1;
      margin: 0;
      width: 100%;
      font-weight: normal;
      padding: 0;
      height: 40px;
      line-height: 40px;
      display: block;
    }
    p {
      font-size: 0.9em;
      margin: 0;
      line-height: 25px;
      letter-spacing: 0.01em;
    }
    /*contact form*/
    #contactform {
      width: 90%;
      margin: auto;
      display: block;
      list-style: none;
      ul {
        list-style: none;
        padding: 0;
        li {
          margin: 5px 0 10px 0;
          label {
            float: left;
            width: 16%;
            height: 35px;
            font-weight: bold;
            line-height: 35px;
            font-size: 0.9em;
          }
          input {
            width: 75%;
            height: 35px;
            padding: 0;
            margin: 0;
            line-height: 35px;
            border: 1px solid $colorgry2;
          }
          textarea {
            width: 75%;
            line-height: 1.5em;
            border: 1px solid $colorgry2;
          }
          #contactbtn {
            width: 20%;
            margin-left: 16%;
            height: 30px;
            @include TranSition(all 0.2s linear ease-in-out);
            line-height: 30px;
            @include gradient($colorbtn2, $colorbtn3);
            border: 0;
          }
          #contactbtn:hover {
            color: $colorpw;
            border: 0;
            @include gradient($colorbtn3, $colorbtn2);
          }
        }
      }
    }

    /*Holiday details packages page*/
    .holiday_details {
      border: 2px $sideboxborder solid;
      margin: 0.25em 0;
      padding: 0.25em;
      @include borderRaduis(5px);
      width: 100%;
      display: flex;
      flex-flow: row wrap;
      h1 {
        margin: 0;
        width: 80%;
        line-height: 40px;
        font-size: 1.1em;
        color: $colorpw1a;
        align-self: flex-start;
        text-indent: 0.2em;
      }
      span.holidayprice {
        font-size: 0.9em;
        width: 20%;
        color: $colorgry2;
        line-height: 40px;
        text-align: left;

        .offerbox-price {
          display: inline-block;
          color: $colorbtn4;
          font-weight: bold;
        }
      }
      figure {
        width: 100%;
        margin: 0;
        img {
          width: 19%;
          float: left;
          display: block;
          margin-right: 0.25em;
        }
        figcaption {
          width: 78%;
          display: inline-block;
          margin-bottom: 0.5em;
          p {
            font-size: 0.9em;
            margin: 0;
            line-height: 35px;
            color: #9e9e9e;
            text-transform: capitalize;
          }
          button {
            width: 20%;
            @include borderRaduis(5px);
            text-align: center;
            color: #fff;
            height: auto;

            height: auto;
            font-size: 1em;
            text-decoration: none;
            padding: 0;
            margin: 0;
            line-height: 45px;
            border: 1px solid #f47f11;
            @include gradient($colorbtn2, $colorbtn3);
            display: block;
            margin: 0.5em 0 0 0;
            &:hover {
              color: $colorpw;
              text-align: center;
              font-weight: bold;
              @include gradient($colorbtn3, $colorbtn2);
              cursor: pointer;
            }
          }
        }
      }
    }

    /*Holiday best deals packages page*/
    .holiday_details_small {
      width: 48%;
      border: 2px $sideboxborder solid;
      @include borderRaduis(5px);
      margin: 0.25em;
      padding: 0.25em;
      float: left;
      display: block;
      h1 {
        margin: 0px;
        line-height: 40px;
        height: auto;
        font-size: 1.1em;
        display: block;
        color: $heading;
        font-weight: bold;
        width: 70%;
        display: block;
        float: left;
      }
      span.holidayprice {
        line-height: 40px;
        color: $colorgry2;
        font-weight: bold;
        font-size: 0.75em;
        width: 30%;
        display: inline-block;
        text-align: left;
        .offerbox-price {
          display: inline-block;
          color: $colorbtn4;
          font-weight: bold;
          font-size: 90%;
          line-height: 40px;
        }
      }
      figure {
        width: 100%;
        margin: 0;
        padding: 0;
        display: inline-block;
        img {
          width: 35%;
          display: block;
          float: left;
          margin: 0 0.25em 0 0;
        }

        figcaption {
          width: 49%;
          display: inline-block;
          margin-bottom: 0.5em;
          p {
            font-size: 0.9em;
            text-transform: capitalize;
            width: 100%;
            margin: 0;
            line-height: 25px;
            color: $colorgry2;
          }
          button {
            width: 100%;
            @include borderRaduis(5px);
            display: block;
            text-align: center;
            color: #fff;
            font-size: 1em;
            text-decoration: none;
            margin: 0;
            line-height: 35px;
            border: none;
            outline: none;
            margin: 0.5em 0;
            @include gradient($colorbtn2, $colorbtn3);
            &:hover {
              color: $colorpw;
              text-align: center;
              font-weight: bold;
              @include gradient($colorbtn3, $colorbtn2);
              cursor: pointer;
            }
          }
        }
      }
    }

    /*about page services boxes*/
    .servicebox {
      width: 31%;
      height: auto;
      border: 4px $sideboxborder solid;
      margin: 0.25em 0 0 0.25em;
      padding: 0;
      float: left;
      display: block;
      h1 {
        font-size: 0.75em;
        height: 30px;
        margin: 0;
        width: 100%;
        background-color: #ebece7;
        color: $colorblue2;
        text-indent: 0.25em;
        line-height: 30px;
      }
      figure {
        width: 90%;
        margin: 0.25em auto;
        img.service-box-img {
          width: 100%;
        }
        figcaption {
          p {
            font-size: 0.75em;
            margin: 2%;
            width: 96%;
            line-height: 2em;
          }
          a {
            font-size: 0.75em;
            display: block;
            text-decoration: none;
            background-color: unset;
            color: $colorpw1;
            line-height: 30px;
            width: auto;
            &:hover {
              font-weight: bold;
            }
          }
        }
      }
    }
  }
}

/*footer*/
footer {
  width: 100%;
  height: 40px;
  color: $colorpw;
  clear: both;
  display: block;
  margin: 0 auto;
  ul {
    margin: 0 auto;
    padding: 0;
    display: block;
    height: 100%;
    width: 80%;

    li {
      list-style: none;
      float: left;
      padding: 0;
      width: 16.570684%;
      display: block;
      a {
        text-decoration: none;
        width: 100%;
        font-size: 0.8em;
        text-align: center;
        height: 100%;
        line-height: 40px;
        color: $colorblk;
        display: block;
        &:link {
          background-color: unset;
          color: $colorblk;
          font-weight: bold;
        }
        &:active {
          background-color: unset;
          font-weight: bold;
        }
        &:hover {
          cursor: pointer;
          font-weight: bold;
          color: $colorblk;
        }
      }
    }
  }
}



@media only screen and (max-width: 320px) {
  #wrapper {
    #toggle-menu {
      font-size: 0.8em;
    }

    header {
      figure#logo {
        height: auto;
        width: 65%;
      }

      aside.contact {
        width: 30%;
        span.tele {
          margin: 0;

          img {
            width: auto;
          }

          a#contact-number {
            font-size: 0.6em;

            &:active {
              color: #fff;
            }
          }
        }
        span#opening-time {
          font-size: 55%;
        }
      }
    }

    nav {
      ul#navi {
        li {
          a {
            font-size: 0.9em;

            &:hover {
              height: 45px;
            }
          }
        }
        li:nth-of-type(2) {
          margin-bottom: 0.2em;
          a {
            font-size: 0.9em;
          }
        }
      }
      aside#language-box {
        width: 50%;
        form#languagebox {
          label {
            font-size: 0.6em;
          }
          select {
            font-size: 0.6em;
          }
        }
      }
    }

    #side-bar-btn {
      top: 240px;
    }
    #contact-bar-btn {
      font-size: 0.7em;
    }
    #home-page-sidebar {
      width: 60%;

      .leftsidebox {
        width: 96%;

        a {
          font-size: 0.8em;
          &:hover {
            text-decoration: none;
          }
        }
        h2 {
          font-size: 0.8em;
        }
        #search_form {
          padding: 2%;
          label {
            font-size: 0.8em;
          }
          ul {
            width: 100%;
            li {
              width: 96%;
              select.destination1 {
                font-size: 0.75em;
              }
              select.time_1 {
                font-size: 0.75em;
              }
              select#time_2 {
                font-size: 0.75em;
              }
            }
            li.misc_inner {
              width: 48%;
              select.misc {
                font-size: 0.75em;
              }
              label {
                font-size: 0.75em;
              }
            }
          }
          #searchbtn {
            clear: left;
            font-size: 0.9em;
            &:hover {
              border: 0;
            }
          }
        }

        div.destinations {
          width: 91%;

          figure {
            margin: 0;
            img {
              width: 42%;
            }
            figcaption {
              width: 53%;
              h3 {
                font-size: 0.8em;
              }
              p {
                font-size: 0.7em;
              }
            }
          }
        }
      }
    }

    #filter-nav-sidebar {
      section#seasons,
      section#locations,
      section#prices,
      section#ratings {
        h1 {
          font-size: 0.75em;
        }
        ul {
          width: 90%;

          li {
            button {
              font-size: 0.7em;

              &:hover {
                font-weight: bold;
              }
            }
          }
        }
      }
    }
    #about-page-banner {
      width: 60%;

      figure {
        margin: 0;
        figcaption {
          padding: 5%;
          h1 {
            font-size: 0.6em;
          }
          p {
            font-size: 0.45em;
          }
        }
      }
    }
    #contact-page-sidebar {
      width: 60%;
      #contact-details {
        li {
          font-size: 0.8em;
          &:first-line {
            font-weight: bold;
          }
          span {
            width: 30%;
            img {
              width: 22%;
            }
          }
          a {
            line-height: 20px;
          }
        }
      }
    }
    #home-page-content {
      width: 100%;
      height: auto;
      margin: 1% 0;
      h1 {
        font-weight: bold;
      }
      #banner {
        width: 100%;

        img {
          width: 100%;
        }
      }

      #offers {
        width: 100%;

        h2 {
          font-size: 1.1em;
          text-indent: 0;
        }
        div.offerbox {
          width: 75%;
          figure {
            img {
              width: 80%;
            }
            figcaption {
              p {
                font-size: 0.75em;
              }
              p:nth-of-type(2) {
                font-weight: bold;
                span {
                  color: $colorbtn1;
                }
              }
            }
          }
        }
        /*offerboxend*/
      }
    }

    label.error {
      font-size: 0.9em;
    }
    #content2,
    #holiday-items {
      width: 100%;

      h1 {
        font-size: 0.75em;
      }
      h2 {
        font-size: 0.7em;
      }
      h3 {
        font-size: 0.7em;
      }
      p {
        font-size: 0.65em;
        margin: 0;
        letter-spacing: 0.01em;
      }
      #contactform {
        margin: auto;
        ul {
          list-style: none;
          li {
            margin: 5px 0 10px 0;
            label {
              width: 25%;
              font-size: 0.7em;
            }
            input {
              width: 70%;
            }
            textarea {
              width: 70%;
              line-height: 1.5em;
            }
            #contactbtn {
              width: 30%;
              margin-left: 25%;
            }
            #contactbtn:hover {
              color: $colorpw;
            }
          }
        }
      }

      .holiday_details {
        h1 {
          width: 65%;
          font-size: 0.85em;
        }
        span.holidayprice {
          font-size: 0.65em;
          .offerbox-price {
            font-weight: bold;
          }
        }
        figure {
          width: 100%;
          img {
            width: 43%;
          }
          figcaption {
            width: 53%;

            p {
              font-size: 0.75em;
            }
            button {
              font-size: 0.85em;
            }
          }
        }
      }

      .holiday_details_small {
        h1 {
          font-size: 0.8em;
        }
        span.holidayprice {
          font-size: 0.75em;
          .offerbox-price {
            display: inline-block;
          }
        }
        figure {
          width: 100%;

          img {
            width: 45%;
          }

          figcaption {
            width: 50%;

            p {
              font-size: 0.75em;
            }
            button {
              font-size: 0.9em;
            }
          }
        }
      }

      .servicebox {
        h1 {
          font-size: 0.8em;
        }
        figure {
          width: 90%;

          figcaption {
            p {
              font-size: 0.6em;
            }
            a {
              font-size: 0.7em;

              &:hover {
                font-size: 0.7em;
              }
            }
          }
        }
      }
    }
  }

  footer {
    width: 98%;

    ul {
      display: block;
      li {
        a {
          font-size: 0.5em;

          &:hover {
            font-size: 0.5em;
          }
          &:active {
            font-size: 0.5em;
          }
        }
      }
    }
  }
}
