@font-face {
  font-family: "Signika-Regular";
  font-style: normal;
  font-display: swap;
  src:
    local("Signika-Regular"),
    url(@/assets/fonts/Signika/static/Signika-Regular.ttf) format("truetype");
}

@font-face {
  font-family: "Signika-Variable";
  font-style: normal;
  font-display: swap;
  src:
    local("Signika-Medium"),
    url(@/assets/fonts/Signika/Signika-VariableFont_GRAD,wght.ttf)
      format("truetype");
}

$colorblk: #000000;
$header-background: #f7f7f7;
$site-background: #ffffff;
$itemborder: #ebece7;
$filternav-bkg: #eaeae8;
$navgradient-bkg2: #1180c5;
$navgradient-bkg1: #5bb3fd;
$btngradient-bkg2: #f58115;
$btngradient-bkg1: #faa544;
$item-price-color: #fa7236;
$nav-link-color: #d24602;
$telephone-bg-color: #175480;
$filternav-btn-color: #57a5cb;
$filter-btn-gradient1: #fbfbfb;
$filter-btn-gradient2: #f5f5f4;
$text-color-one: #fefffd;
$bg-color: #5fa5e7;
$service-card-link: #1987cb;
$package-title: #1987cb;

$filter-title-color: #144067;
$filter-title-color: #0c3b67;
$title-color-home: #0e4d7c;
$side-banner-bg: #014188;
$text-color-two: #9d9e9e;
$header-color: #0e4d7c;

$font-style1: "Signika-Variable", arial, sans-serif;
